/* Styling for Sudoku game */
/* Grid */
.grid-sudoku {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.col-s {
    display: flex;
    flex-direction: row;
}

.col-s:nth-child(3n) {
    border-bottom: solid;
}

.col-s:nth-child(1) > .cell-s {
    border-top: solid;
}



.cell-s {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 6rem;
    padding: 1rem;
    border: solid black 0.5px;
    cursor: pointer;
}

.cell-s.def {
    background-color: #cdcdcd;
    cursor: default;
}

.cell-s:nth-child(1) {
    border-left: solid;
}

.cell-s:nth-child(3n) {
    border-right: solid;
}

.cell-s.hidden {
    color: transparent
}

/* Number selection */
.numbers {
    display: flex;
    margin: 2rem;
    justify-content: center;
}

p {
    text-align: center;
}

.s-num {
    margin: 0.5rem;
    padding: 1rem 1.5rem;
    border: solid 1px;
    border-radius: 50%;
    cursor: pointer;
}

.s-num:active {
    background-color: black;
    color: white;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu button {
    border-radius: 1.7rem;
    background-color: black;
    color: white;
    text-decoration: none;
    border: none;
    margin-right: 1rem;
    padding: 1.5rem;
    cursor: pointer;
}

.red {
    background-color: red !important;
}

.green {
    background-color: green !important;
}
