body {
  font: 25px "Century Gothic", Futura, sans-serif;
}

.tictactoe {
 display: flex;
 align-items:center;
 justify-content: center;
 }

.tttgame {
 background-color: #121212;
 width: 100%;
 height: 100%;
 display:flex;
 align-items:center;
 justify-content: center;
 flex-direction: column;
}

.space {
 margin: 20px;
 display: flex;
 width: 500px;
 height: 500px;
 border: 1.5px solid white;
 flex-direction: column;
 align-items: center;
 color: white;
}

.ttt {
  text-align: center;
}

.ttt h2{
 border: 1.5px solid white;
 width: 300px;
 font-size: 50px;
 margin-block-start: 0.86em;
 margin-block-end: 0;
}

.scores { 
  margin-bottom: 20px;
}

.turn {
  margin-top: 20px;
  margin-bottom: 10px;
}

.board {
  padding: 3px;
  border: 5px solid white;
}

.square {
  border: 2px solid black;
  float: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 34px;
  height: 74px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 74px;
}

.bText {
  color: #F3F3F3;
  margin-bottom: 20px;
  font-size: 20px;
}
